/* 全局设置 */
body {
  margin:0;
  font-family: arial,verdana,helvetica,Microsoft Yahei,sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #7e8793;
}

* {
  /* 有padding只是往内部挤压 */
  /* 
  * https://developer.mozilla.org/zh-CN/docs/Web/CSS/box-sizing
  * https://cssreference.io/property/box-sizing/
   */
  box-sizing: border-box;
}

/* 分散对齐 */
/* 目前list-header，list中的form，，list中的form中的inner，filter， job-list中的a加入flex布局 */
.flex {
  display: flex;
  justify-content: space-between;
  /* The remaining space is distributed between the flexbox/grid items.*/
  /* 在每行上均匀分配弹性元素。相邻元素间距离相同。每行第一个元素与行首对齐，每行最后一个元素与行尾对齐。 */
  /* 上面是水平排列 */
  /* 下面是纵向排列,垂直居中 */
  /* 
  * https://developer.mozilla.org/zh-CN/docs/Web/CSS/justify-content
  * https://cssreference.io/property/justify-content/
  */
  align-items: center;
  /* The flexbox items are aligned at the center of the cross axis.
  By default, the cross axis is vertical. This means the flexbox items will be centered vertically. */
  /* 元素在侧轴居中。如果元素在侧轴上的高度高于其容器，那么在两个方向上溢出距离相同。 */
  /* 
  * https://developer.mozilla.org/zh-CN/docs/Web/CSS/align-items
  * https://cssreference.io/property/align-items/
   */
}

/* 内边距 */
/* 这个必加，只要添加了class，就实现内边距，很方便 */
.padded {
  padding: 1rem;
}

/* 按钮（detail.html使用） */
.btn {
  border: none;
  font-size: 0.9rem;
  padding: 0.5rem 1.2rem;
  border-radius: 2rem;
}

/* 浅色（detail.html使用。数据来源：企查查） */
.grey {
  color:#9fa3b0;
}


/* index */
/* 主页头部 */
    /* 全局 */
.home-header {
  background: url('../img/home-bg.png') no-repeat;
  background-size: 100% auto; 
  text-align: center;
  padding: 1rem;
}
    /* 图片 */
.home-header > img {
  width: 75%;/* 这个宽度的意思不太明白 */
  margin:1.3rem 0 2.0rem 0;/* 32px */
  /* 相对字体长度单位 rem，相对于根字体的大小，根字体默认16px */
}
    /* 表单全局 */
.home-header form {
  background: white;
  width: 100%;
  margin: 0 auto;/* auto 居中 */
  line-height: 2.4rem;/* 2.4*16 = 38.4px */
  border-radius: 2.2rem;
  margin-bottom: 0.5rem;
}

    /* 表单输入框 */
    /* border边框,outline点击时的高亮边框 background 背景 none表示无 */
.home-header form input {
  width: 75%;
  border: none;
  outline: none;
  color: #aaa;
  font-size: 0.9rem; 
}
    /* 表单按钮 */
.home-header form button {
  font-size: 0.9rem;/* 0.9*16=14.4px */
  /* font-weight: lighter;字体粗细：细 */
  color: #5bd4c7;
  background: none;
  border: none;
  outline: none;
}


/* 页面分类 */
    /* 全局 */
.home-categories {
  padding: 0 1rem;

}
    /* dt全局 */
.home-categories dt {
  display: flex;/* 弹性布局 */
  align-items: center;/* 垂直居中，水平居中是text-align */
  color: #333;
}

    /* dt中的img */
.home-categories dt img {
  height: 3rem;
  margin-right: 1rem;/* 右外边距 */
}

    /* dd全局 */
.home-categories dd {
  /* margin: 0; */
  margin:1rem -0.3rem 2.5rem;/* 为了抵消下面img的外边距,检查a元素与上面图片对齐 */
}

    /* dd中的a标签 */
.home-categories dd .tag {
  background: #f5f8f9;
  color: #7e8793;
  padding: 0.5rem 0.5rem;
  display: inline-block;
  border-radius: 1rem;
  text-decoration: none;/* 去除下划线 */
  margin: 0.2rem 0.3rem;
  font-size: 0.8rem;
}

/* 主页底部 */
    /* 全局 */
.home-footer {
  /* 不是纯粹的居中，因为是左对齐,所以是设置宽度再外边距为0的居中 */
  width: 70%;
  margin: 0 auto;
  font-size: 0.75rem;/*字体设置*/
}

    /* p元素 */
.home-footer p {
  color: #919aa7;
  /* p标签本来就有上下边距，要去除 */
  margin: 0.25rem 0;
}





/* list-page，定义flex布局，因为要频繁使用 */


/* 列表头部 */
    /* 全局 */
.list-header {
  padding: 0.8rem 1rem;
}

    /* 表单全局，设置百分百宽度，图片在左，搜索按钮在右 */
.list-header form {
  width: 100%;
}

    /* 表单的图片 */
.list-header form img {
  height: 1.2rem;
}

    /* 表单内部 */
.list-header form .inner {
  width: 100%;
  background: #f5f8f9;
  margin: 0 1rem;
  /* margin左右空出1rem,inner外有图片和按钮，左是图片，右是按钮 */
  line-height: 1.5rem;
  /* 提高行高，即高度 */
  padding: 0 1rem;
  border-radius: 0.5rem;
  color:#8b96a6;
}

    /* 表单内部输入框，width小于form表单的宽度 */
.list-header form .inner input {
  width: 80%;
  border: none;
  background: transparent;
  /* 透明背景 */
  /* By default, the background color is transparent, basically meaning that there is no background color. */
  outline: none;
  /* focus时没有边框 */
  color: #7e8793;
}

    /* 表单的按钮 */
.list-header form button {
  border:none;
  background: none;
  font-size: 0.9rem;
  color: #5bd4c7;
  flex-shrink: 0;
  /* flex-shrink等于0不会收缩 */
  /* flex-shrink 属性指定了 flex 元素的收缩规则。flex 元素仅在默认宽度之和大于容器的时候才会发生收缩，其收缩的大小是依据 flex-shrink 的值。 number>=0 */
  /* The element will not shrink: it will retain the width it needs, and not wrap its content. Its siblings will shrink to give space to the target element. */
  /* 
  * https://developer.mozilla.org/zh-CN/docs/Web/CSS/flex-shrink 
  * https://cssreference.io/property/flex-shrink/
  */
  padding: 0;
  /* 去除padding，具体控制台element ctrl+shift+c 点击搜索按钮，再点击右边的computed看属性 */
}


/* 过滤器 */
    /* 全局 */
.filter {
  padding: 0.8rem 1rem;
  border: 1px solid #f5f8f9;
}

    /* 过滤器中的dl和dd */
.filter dl, .filter dd {
  /* 外边距等于0 */
  margin: 0;
}

    /* 过滤器中的dt （经验） */
.filter dt {
  /* 字体大小 */
  font-size:0.75rem;
}

    /* 过滤器中被选中的dt */
.filter .active dt {
  color: #333;
}

/* 怎么实现那个小箭头，当点击之后箭头方向从上到下 */
    /* css3的伪元素 */
.filter dt:after {
  content: "";/* 必写 */
  /* 这个inline-block很关键，行内块级元素既不会换一行也可以实现设置宽高 */
  display: inline-block;
  width: 4px;
  height: 4px;
  border: 1px solid #999;
  margin-left: 0.5rem;
  /* 如何把方框变成三角形？ */
  border-style: solid none none solid;
  transform: rotate(225deg);
  /* 顺时针旋转225度，180+45 */
  transform-origin: 2px 1px;
  /* 偏移距离，右2px，上1px，右指的是x轴向右2px，上指的是y轴向上1px  */
  /* 
  * https://developer.mozilla.org/zh-CN/docs/Web/CSS/transform-origin
  * https://cssreference.io/property/transform-origin/
   */

  /* 加箭头动画 */
  transition: 0.2s all;
  /* 
  * https://developer.mozilla.org/zh-CN/docs/Web/CSS/transition
  * https://cssreference.io/property/transition/
   */
}

    /* 激活后的dt */
.filter .active dt:after {
  transform: rotate(45deg);
  /* 选择45度，是根据开始时左边和上边来顺时针旋转45度，不要理解错了 */
}


    /* 过滤器中的dd */
.filter dd {
  /* 隐藏 */
  display: none;
}

    /* 过滤器第一个dd */
.filter .active dd {
  /* .active中的dd显示，使用block,一般使用时才display*/
  /* display: block; */
  /* 黑色000,透明度0.3 */
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 100vh;
  /* 定义了相对视口长度单位：vw，vh,vmax 和 vmin */
  /* vh:视口高度的 1/100。 */
  /* 100代表视口高度沾满当前元素的空间 */
  /* https://developer.mozilla.org/zh-CN/docs/Web/CSS/length */
  position: absolute;
  left: 0;
  top: 90px;
  /* 90=50+38  再加2因为有边框 */
}  

    /* 过滤器第一个dd的ul */
.filter .active dd ul {
  margin: 0;
  padding: 0;
  /* 覆盖了260行中的100vh，258行背景 */
  background: #fff;
}

    /* 过滤器中第一个dd的li */
.filter .active dd li {
  line-height: 3rem;
  /* 195行.filter设置了1rem的内边距 */
  /* 这里是文本缩进，弥补了1rem */
  text-indent: 1rem; 
  color: #aaa;
}

    /* 过滤器中第一个dd中被选中的ul */
.filter .active dd li.active {
  background: #f5f8f9;
  color: #333;
}

/* 工作列表 */
    /* 全局 */
.job-list {
  margin: 0;
  padding: 0;
}

    /* 工作项 */
.job-item {
  margin: 1rem;
  padding-bottom: 1rem;
  /* 设置padding的理由是内边距可以被点击，而margin不可用被点击 */
  color: #7e8793;
  /* 去除下划线 */
  text-decoration: none;
  /* 加分隔线，但线撑满整行，只能把308行padding改成margin,然后加上padding-bottom,为了使分隔线往下1rem*/
  border-bottom: 1px solid #f5f8f9;
}

    /* 图片 */
.job-item > img {
  height: 3.5rem;

}

    /* 文本全局 */
.job-item .text {
  width: 100%;
  /* margin-left左外边距 */
  margin-left: 1rem;
}

    /* 标题 */
.job-item .title {
  color: #333333;
  font-size: 0.9rem;
}

    /* 标题下的工资，要使标题和工资之间左右分散，加flex布局 */
.job-item .title .salary {
  color: #fc6c38;
  font-size: 1.25rem;
}

    /* 公司 */
.job-item .company {
  color: #333333;
  font-size: 0.8rem;
  /* 加上下margin */
  margin: 0.2rem 0;
}

    /* 属性（地点，工作年限，学历） */
.job-item .props {
  font-size: 0.8rem;
}
    /* 属性（地点，工作年限，学历）的span标签（加间隔） */
.job-item .props span {
  margin-right: 0.5rem;
}



/* detail */
/* 具体细节 */
  /* 头部导航 */
    /* 左：图片 */
.top-bar img {
  height: 1rem;
}
    
    /* 右：表单 */
.top-bar form {
  width: 36%;
  border: 1px solid #5bd4c7;
  border-radius: 2rem;
  padding: 0 0.5rem 0 0.8rem; 
}

    /* 表单中的输入框 */
.top-bar form input {
  /* 调整border，background为none很有用 */
  border: none;
  background: none;
  width: 60%;
  line-height: 1.3rem;
  color: #aaa;
  outline: none;
  font-size: 0.8rem;
}

    /* 表单中的按钮 */
.top-bar form button {
  border: none;
  /* 注意这里是css中引用图片，所以路径要写好 ../是上层文件 */
  /* 至于background要自己看 */
  background: url("../img/icons.png") no-repeat top center;
  /* auto 居中 注意是100% */
  background-size:100% auto;
  width: 1rem;
  height: 1rem;
  /* 1*16=16px */
}

  /* 工作信息 */
    /* 全局 */
.job-info {
  background:#62d5c8;
  color: #fff;
}

    /* 标题 */
.job-info .title {
  font-size: 1.2rem;
}
    /* 属性 */
.job-info .props {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

    /* 属性中的竖线效果（加margin分隔） */
.job-info .props .items i {
  display: inline-block;
  width: 1px;
  height: 0.8rem;
  background: #fff;
  margin: 0 0.5rem;
}

    /* 标签 */
.job-info .tags span {
  border: 1px solid #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 2rem;
  font-size: 0.75rem;
}

  /* 用户信息 */
    /* 背景设置 */
.user-info {
  background: #eefbf9;
}
    /* 图片 */
.user-info > img {
  /* 高度+圆角 实现圆形 */
  height: 3.5rem;
  border-radius: 3.5rem;
}

    /* 信息 */
.user-info .info {
  /* 宽度自己设置，为了使感兴趣别离这么远 */
  width: 35%;
  /* 外边距，这个实在没办法，左外边距设置负才能靠左，因为flex布局，中间是有间隔 */
  margin: 0 1rem 0 -1.5rem;
}

    /* 名字 */
.user-info .name {
  color:#333;
  font-size: 1rem;
}

    /* 名字中的like */
.user-info .name .like {
  font-size: 0.8rem;
  color: #fb7042;
}    

.user-info .desc {
  font-size: 0.8rem;
  color: #9fa3af;
  margin-top:1rem;
}

    /* 按钮 */
.user-info > button {
  background: #62d5c8;
  color: #fff;
  /* info添加左右margin，把按钮挤扁了 */
  /* 防止不被挤扁，直接flex-shrink：0 */
  flex-shrink: 0;
}

  /* 工作详情 */
    /* h3介绍 */
.job-detail h3 {
  color: #333;
  font-size: 1rem;
  /* 添加position，相对外层定位 */
  position: relative;
}

    /* h3介绍下面的那条横杠 */
.job-detail h3:after {
  content:"";
  width: 1rem;
  height: 1px;
  display: inline-block;
  background: #62d5c8;
  /* 下面要移位到下面一行 */
  /* 相对h3绝对定位 */
  position: absolute;
  /* top指离h3顶部1.8rem，font-size为1rem，所以1.8rem在字体下面 */
  top: 1.8rem;
  /* left是离h3左部0，紧贴左部 */
  left: 0;
}

    /* 文字 */
.job-detail .text {
  font-size: 0.95rem;
  /* line-height是提升间隔 */
  line-height: 1.6rem;
}

    /* ②标签div */
.job-detail .tags {
  /* 这是div，直接设置内边距即可 */
  /* 若外边距不行，加内边距 */
  padding-top: 0.5rem; 
}

    /* ②标签span */
.job-detail .tags span {
  /* 每一个span，而不是.class的div */
  /* 和上面.text差不多，字体也是0.9rem */
  font-size: 0.9rem;
  color: #62d5c8;
  border: 1px solid #62d5c8;
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;
  /* 下面两个margin是要求span内容有间隔 */
  margin-right: 0.5rem;
  margin-bottom: 0.5rem; 
  /* 必加，如果是多行情况，变成块级行内元素 */
  display: inline-block;
}

    /* 表格 */
.job-detail .text table {
  border: 1px solid #ebecef;
  padding: 0.7rem 0.3rem;
  font-size: 0.75rem; 
}

    /* 表头th */
.job-detail .text th {
  /* th表头默认字体加粗，现在改为默认 */
  font-weight: normal; 
  width: 6rem;
  /* 颜色较浅 */
  color: #9fa3b0;
}

    /* 表格内容td */
.job-detail .text td {
  width: 8rem;
}



  /* 公司名片 */
    /* 全局 */
.company-info {
  background: #eefbf9;
}

    /* 左：图片，实现圆形效果 */
.company-info img {
  height: 3.5rem;
  border-radius: 3.5rem;
}

    /* 右：div */
.company-info .info  {
  width: 100%;
  margin-left: 1rem;
}
    /* 第一行名称 */
.company-info .info .name {
  color: #333;
}
    /* 第一行按钮 */
.company-info .info .name .btn {
  background: #62d5c8;
  color: #fff;
}

    /* 第二行描述 */
.company-info .info .desc {
  font-size: 0.8rem;
  color: #333;
}

    /* 第三行标签 */
.company-info .info .tags {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  /* 加了flex布局后 */
  justify-content: flex-start;
  /*  从行首起始位置开始排列 */
  /* 
  * https://developer.mozilla.org/zh-CN/docs/Web/CSS/justify-content
  * https://cssreference.io/property/justify-content/
   */
}

    /* 第三行标签的i元素，实现竖线效果 */
.company-info .info .tags i {
  /* inline-block必写 */
  display: inline-block;
  /* 竖线是1px宽，高自己按照字体定，比如上面.tags的font-size是0.75rem，比0.75稍微大一点就行了，高度设置0.8rem */
  width: 1px;
  height: 0.8rem;
  color: #ebecef;
  margin: 0 0.5rem;
}


  /* 相似职位 */
    /* h3 */
.related-jobs h3 {
  color: #7e8793;
  font-weight: normal;
  font-size: 0.9rem;
}

    /* 工作列表，ul标签 */
.related-jobs ul {
  list-style: none;
}

    /* a标签 */
.related-jobs ul li > a {
  /* 本来a标签有1rem的margin，现在不能有margin */
  margin: 0;
  /* 先定义border为none，再定义border-top也是可以的 */
  border: none;
  border-top: 1px solid #ebecef;
  /* 这个使border-top与内容有一定的上下间隔，用padding也算是属于里面的内容，因为上面设置了margin为0,用padding撑大width*/
  /* border-box不包含margin */
  /* width = border + padding + 内容的宽度 */
  /* https://developer.mozilla.org/zh-CN/docs/Web/CSS/box-sizing */
  padding: 1rem 0;
}

    /* button按钮 */
.related-jobs ul li .btn {
  /* 加padding是撑大按钮的内容 */
  padding: 0.4rem 1.2rem;
  /* 加margin-top是增加间隔 */
  margin-top: 0.2rem; 
  border:1px solid #62d5c8;
  color: #62d5c8;
  /* 这个背景为none很关键，因为本来有背景 */
  background: none;
}


  /* 推荐公司 */
    /* h3 */
.related-companies h3 {
  font-size: 0.9rem;
  /* 平常字体格式 */
  font-weight: normal;
  color: #7e8793;
}

    /* a标签 */
.related-companies .tags a {
  color: #7e8793;
  text-decoration: none;
  font-size: 0.8rem;
  /* 这个margin自己调试，主要是margin-right和margin-bottom，增加间隔 */
  margin: 0 1.3rem 0.2rem 0; 
}


  /* 详情底部 */
    /* 全局 */
.job-footer {
  border-top: 1px solid #ebecef;
  /* 先设置margin 上下左右都1rem*/
  margin: 1rem;
  /* 后设置padding 上下1rem，左右0*/
  padding: 1rem 0;
  /* 没有下面a的margin，直接改line-height */
  line-height: 1.5rem;
}

    /* a标签 */
.breadcrumb-nav a {
  color: #7e8793;
  text-decoration: none;
  /* 字体大小自己改下 */
  font-size: 0.75rem;
  /* 没有margin，基本完成了大部分 */
  /* margin: 0 0.8rem 0.2rem 0; */
}

    /* i标签，实现小三角 */
.breadcrumb-nav i {
  /* inline-block+width+height+border+border-style+transform:rotate() */
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #9fa3b0;
  border-style: solid none none solid;
  transform: rotate(135deg);
}
